.CoachPara {
  height: 30em;
  margin-top: -77px;
}
.walid {
  position: relative;
  left: 15em;
  width: 20em;
  height: 23em;
}
.walidPara {
  width: 42em;
  position: relative;
  right: -30em;
  top: -24.5em;
}
